In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_error, r2_score
import xgboost as xgb
from sklearn.preprocessing import StandardScaler
import warnings
warnings.filterwarnings("ignore")

In [2]:
df=pd.read_csv('cleaned_house_rent_dataset.csv')

In [3]:
df

,BHK,Rent,Size,Bathroom,Current Floor,Total Floors,Area Type_Built Area,Area Type_Carpet Area,Area Type_Super Area,City_Bangalore,...,City_Delhi,City_Hyderabad,City_Kolkata,City_Mumbai,Furnishing Status_Furnished,Furnishing Status_Semi-Furnished,Furnishing Status_Unfurnished,Tenant Preferred_Bachelors,Tenant Preferred_Bachelors/Family,Tenant Preferred_Family
0,2,10000,1100,2,0.0,2.0,0,0,1,0,...,0,0,1,0,0,0,1,0,1,0
1,2,20000,800,1,1.0,3.0,0,0,1,0,...,0,0,1,0,0,1,0,0,1,0
2,2,17000,1000,1,1.0,3.0,0,0,1,0,...,0,0,1,0,0,1,0,0,1,0
3,2,10000,800,1,1.0,2.0,0,0,1,0,...,0,0,1,0,0,0,1,0,1,0
4,2,7500,850,1,1.0,2.0,0,1,0,0,...,0,0,1,0,0,0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4741,2,15000,1000,2,3.0,5.0,0,1,0,0,...,0,1,0,0,0,1,0,0,1,0
4742,3,29000,2000,3,1.0,4.0,0,0,1,0,...,0,1,0,0,0,1,0,0,1,0
4743,3,35000,1750,3,3.0,5.0,0,1,0,0,...,0,1,0,0,0,1,0,0,1,0
4744,3,45000,1500,2,23.0,34.0,0,1,0,0,...,0,1,0,0,0,1,0,0,0,1
4745,2,15000,1000,2,4.0,5.0,0,1,0,0,...,0,1,0,0,0,0,1,1,0,0

In [4]:
print(df.isnull().sum())

BHK                                   0
Rent                                  0
Size                                  0
Bathroom                              0
Current Floor                        38
Total Floors                         38
Area Type_Built Area                  0
Area Type_Carpet Area                 0
Area Type_Super Area                  0
City_Bangalore                        0
City_Chennai                          0
City_Delhi                            0
City_Hyderabad                        0
City_Kolkata                          0
City_Mumbai                           0
Furnishing Status_Furnished           0
Furnishing Status_Semi-Furnished      0
Furnishing Status_Unfurnished         0
Tenant Preferred_Bachelors            0
Tenant Preferred_Bachelors/Family     0
Tenant Preferred_Family               0
dtype: int64

In [5]:
df['Current Floor'].fillna(df['Current Floor'].median(), inplace=True)
df['Total Floors'].fillna(df['Total Floors'].median(), inplace=True)

In [11]:
print(df.isnull().sum())

BHK                                  0
Rent                                 0
Size                                 0
Bathroom                             0
Current Floor                        0
Total Floors                         0
Area Type_Built Area                 0
Area Type_Carpet Area                0
Area Type_Super Area                 0
City_Bangalore                       0
City_Chennai                         0
City_Delhi                           0
City_Hyderabad                       0
City_Kolkata                         0
City_Mumbai                          0
Furnishing Status_Furnished          0
Furnishing Status_Semi-Furnished     0
Furnishing Status_Unfurnished        0
Tenant Preferred_Bachelors           0
Tenant Preferred_Bachelors/Family    0
Tenant Preferred_Family              0
dtype: int64

In [12]:
X = df.drop("Rent", axis=1)   # Rent is the target variable
y = df["Rent"]

In [13]:
# Train-test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [14]:
import pickle

In [19]:
#Load model from .sav 
with open('finalized_model_xgboost_house_rent_model.sav', 'rb') as file:
  loaded_model = pickle.load(file)

In [23]:
#Example input (use real input during actual deployment)
# Here we're using a test sample from the dataset (make sure it matches training format)
sample_input = [[2, 1100, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 2, 4,1]]

In [24]:
# Predict
predicted_rent = loaded_model.predict(sample_input)
print("Predicted Rent:", predicted_rent[0])

Predicted Rent: 16507.695

In [20]:
#Example: Predict rent using first row of X_test
sample_input = X_test.iloc[0].values.reshape(1, -1)
predicted_rent = loaded_model.predict(sample_input)

print("Predicted Rent:", predicted_rent[0])

Predicted Rent: 14420.903