In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [2]:
dataset=pd.read_csv("preprocessed_house_rent.csv")

In [3]:
dataset

,BHK,Rent,Size,City,Bathroom,Area Type_Carpet Area,Area Type_Super Area,Tenant Preferred_Bachelors/Family,Tenant Preferred_Family,Furnishing Status_Semi-Furnished,Furnishing Status_Unfurnished,Floor Number,Total Floors
0,2,10000,1100,4,2,0,1,1,0,0,1,0,2
1,2,20000,800,4,1,0,1,1,0,1,0,1,3
2,2,17000,1000,4,1,0,1,1,0,1,0,1,3
3,2,10000,800,4,1,0,1,1,0,0,1,1,2
4,2,7500,850,4,1,1,0,0,0,0,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4741,2,15000,1000,3,2,1,0,1,0,1,0,3,5
4742,3,29000,2000,3,3,0,1,1,0,1,0,1,4
4743,3,35000,1750,3,3,1,0,1,0,1,0,3,5
4744,3,45000,1500,3,2,1,0,0,1,1,0,23,34
4745,2,15000,1000,3,2,1,0,0,0,0,1,4,5

In [4]:
print(dataset.isnull().sum())

BHK                                  0
Rent                                 0
Size                                 0
City                                 0
Bathroom                             0
Area Type_Carpet Area                0
Area Type_Super Area                 0
Tenant Preferred_Bachelors/Family    0
Tenant Preferred_Family              0
Furnishing Status_Semi-Furnished     0
Furnishing Status_Unfurnished        0
Floor Number                         0
Total Floors                         0
dtype: int64

In [5]:
dataset.columns

Index(['BHK', 'Rent', 'Size', 'City', 'Bathroom', 'Area Type_Carpet Area',
       'Area Type_Super Area', 'Tenant Preferred_Bachelors/Family',
       'Tenant Preferred_Family', 'Furnishing Status_Semi-Furnished',
       'Furnishing Status_Unfurnished', 'Floor Number', 'Total Floors'],
      dtype='object')

In [8]:
independent=dataset[[ 'BHK', 'Size','Area Type_Carpet Area','Area Type_Super Area','Tenant Preferred_Bachelors/Family',
       'Tenant Preferred_Family', 'Furnishing Status_Semi-Furnished','Furnishing Status_Unfurnished', 
       'Bathroom', 'City', 'Floor Number','Total Floors']]

In [9]:
independent

,BHK,Size,Area Type_Carpet Area,Area Type_Super Area,Tenant Preferred_Bachelors/Family,Tenant Preferred_Family,Furnishing Status_Semi-Furnished,Furnishing Status_Unfurnished,Bathroom,City,Floor Number,Total Floors
0,2,1100,0,1,1,0,0,1,2,4,0,2
1,2,800,0,1,1,0,1,0,1,4,1,3
2,2,1000,0,1,1,0,1,0,1,4,1,3
3,2,800,0,1,1,0,0,1,1,4,1,2
4,2,850,1,0,0,0,0,1,1,4,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
4741,2,1000,1,0,1,0,1,0,2,3,3,5
4742,3,2000,0,1,1,0,1,0,3,3,1,4
4743,3,1750,1,0,1,0,1,0,3,3,3,5
4744,3,1500,1,0,0,1,1,0,2,3,23,34
4745,2,1000,1,0,0,0,0,1,2,3,4,5

In [10]:
dependent=dataset[['Rent']]

In [11]:
dependent

       Rent
0     10000
1     20000
2     17000
3     10000
4      7500
...     ...
4741  15000
4742  29000
4743  35000
4744  45000
4745  15000

[4746 rows x 1 columns]

In [12]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
independent=sc.fit_transform(independent)

In [13]:
from sklearn.ensemble import RandomForestRegressor

In [14]:
from sklearn.model_selection import GridSearchCV
param_grid={'criterion':["squared_error","absolute_error","friedman_mse","poisson"],
'max_features':["sqrt","log2",None],
'n_estimators':[10,100]}
grid = GridSearchCV(RandomForestRegressor(),param_grid,refit=True,cv=5,verbose=3,n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 24 candidates, totalling 120 fits

GridSearchCV(cv=5, estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['squared_error', 'absolute_error',
                                       'friedman_mse', 'poisson'],
                         'max_features': ['sqrt', 'log2', None],
                         'n_estimators': [10, 100]},
             verbose=3)

In [15]:
re=grid.cv_results_
grid_predictions = grid.predict(independent)
from sklearn.metrics import r2_score
r_score=r2_score(dependent,grid_predictions)
print("The R_score value for best parameter {}:".format(grid.best_params_),r_score)

The R_score value for best parameter {'criterion': 'absolute_error', 'max_features': 'sqrt', 'n_estimators': 100}: 0.8520362313170717

In [16]:
table=pd.DataFrame.from_dict(re)

In [17]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.126489,0.003952,0.009882,0.008121,squared_error,sqrt,10,"{'criterion': 'squared_error', 'max_features':...",0.748062,0.276205,-2.550383,0.115091,-0.202037,-0.322613,1.155336,15
1,1.118865,0.011589,0.034537,0.006171,squared_error,sqrt,100,"{'criterion': 'squared_error', 'max_features':...",0.754193,0.275883,-0.298846,0.353194,-0.133117,0.190262,0.373014,3
2,0.121087,0.007247,0.007467,0.007023,squared_error,log2,10,"{'criterion': 'squared_error', 'max_features':...",0.775459,0.252221,-0.656145,-0.209107,-0.496543,-0.066823,0.522194,9
3,1.077164,0.037067,0.041571,0.007935,squared_error,log2,100,"{'criterion': 'squared_error', 'max_features':...",0.750631,0.276348,-0.669043,0.297882,-0.148942,0.101375,0.478950,5
4,0.211126,0.009818,0.011958,0.006062,squared_error,None,10,"{'criterion': 'squared_error', 'max_features':...",0.723020,0.300600,-2.662337,-1.641288,-0.591237,-0.774248,1.244768,19
5,2.046640,0.177413,0.038996,0.010804,squared_error,None,100,"{'criterion': 'squared_error', 'max_features':...",0.732526,0.278502,-3.695447,-0.160329,-0.534748,-0.675899,1.568308,18
6,1.381969,0.089189,0.006250,0.007655,absolute_error,sqrt,10,"{'criterion': 'absolute_error', 'max_features'...",0.714172,0.259811,-0.506493,-0.163571,-0.646943,-0.068605,0.501166,10
7,17.997014,1.397696,0.058154,0.006210,absolute_error,sqrt,100,"{'criterion': 'absolute_error', 'max_features'...",0.771229,0.276064,0.372587,0.395991,-0.039826,0.355209,0.259752,1
8,1.742129,0.338574,0.003125,0.006250,absolute_error,log2,10,"{'criterion': 'absolute_error', 'max_features'...",0.718693,0.252763,-0.448890,0.058019,-1.084950,-0.100873,0.618307,11
9,22.174055,1.036344,0.042644,0.013950,absolute_error,log2,100,"{'criterion': 'absolute_error', 'max_features'...",0.751416,0.280544,0.225606,0.383344,-0.106391,0.306904,0.276243,2
10,7.528237,1.431922,0.007753,0.007208,absolute_error,None,10,"{'criterion': 'absolute_error', 'max_features'...",0.744160,0.287926,-17.203642,0.008336,-1.927735,-3.618191,6.853636,24
11,61.537415,3.849809,0.035191,0.015796,absolute_error,None,100,"{'criterion': 'absolute_error', 'max_features'...",0.764990,0.292384,-2.858699,0.271955,-0.304463,-0.366767,1.291273,16
12,0.226672,0.043626,0.013195,0.007630,friedman_mse,sqrt,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.693281,0.249009,-1.636817,0.323223,-0.377138,-0.149689,0.819327,12
13,1.653004,0.243747,0.045545,0.016204,friedman_mse,sqrt,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.759180,0.274605,-0.863710,0.359272,-0.097929,0.086284,0.547576,6
14,0.246433,0.044160,0.014909,0.001377,friedman_mse,log2,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.695710,0.256534,-0.768854,0.206581,-1.171347,-0.156275,0.697650,13
15,1.773039,0.041191,0.057845,0.006192,friedman_mse,log2,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.759667,0.279002,-1.871795,0.297162,-0.267248,-0.160642,0.915341,14
16,0.362595,0.027607,0.016296,0.004092,friedman_mse,None,10,"{'criterion': 'friedman_mse', 'max_features': ...",0.697936,0.297407,-5.088086,-1.488333,-2.310667,-1.578349,2.076660,22
17,3.409083,0.158849,0.050229,0.003618,friedman_mse,None,100,"{'criterion': 'friedman_mse', 'max_features': ...",0.721568,0.277259,-3.450051,-0.107043,-0.353933,-0.582440,1.479252,17
18,0.226338,0.007554,0.014578,0.002297,poisson,sqrt,10,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.634052,0.285050,-0.827625,0.371177,-0.287263,0.035078,0.525810,8
19,2.201401,0.279539,0.054889,0.007796,poisson,sqrt,100,"{'criterion': 'poisson', 'max_features': 'sqrt...",0.765484,0.279438,-0.463086,0.418864,-0.345412,0.131058,0.466343,4
20,0.246277,0.006368,0.016910,0.002233,poisson,log2,10,"{'criterion': 'poisson', 'max_features': 'log2...",0.670716,0.260772,-5.076918,0.402121,-2.082221,-1.165106,2.191025,21
21,2.343840,0.090981,0.059090,0.004951,poisson,log2,100,"{'criterion': 'poisson', 'max_features': 'log2...",0.754806,0.279709,-0.739125,0.398947,-0.279996,0.082868,0.528677,7
22,0.439682,0.014588,0.009947,0.007356,poisson,None,10,"{'criterion': 'poisson', 'max_features': None,...",0.725494,0.280306,-8.712844,0.281352,-1.640809,-1.813300,3.545411,23
23,3.780253,0.417295,0.045465,0.007790,poisson,None,100,"{'criterion': 'poisson', 'max_features': None,...",0.731527,0.288135,-5.752175,-0.050188,-0.208901,-0.998321,2.398692,20

In [18]:
import pickle
filename="finalized_model_RandomForest.sav"
pickle.dump(grid,open(filename,'wb'))

In [19]:
dataset.columns

Index(['BHK', 'Rent', 'Size', 'City', 'Bathroom', 'Area Type_Carpet Area',
       'Area Type_Super Area', 'Tenant Preferred_Bachelors/Family',
       'Tenant Preferred_Family', 'Furnishing Status_Semi-Furnished',
       'Furnishing Status_Unfurnished', 'Floor Number', 'Total Floors'],
      dtype='object')

In [22]:
BHK_input=float(input("BHK:"))
Size_input=float(input("Size:"))
Area_Type_Carpet_Area_input=float(input("Area Type_Carpet Area:"))
Area_Type_Super_Area_input=float(input("Area Type_Super Area:"))
City_input=float(input("City:"))
Furnishing_Status_Semi_Furnished_input = float(input("Furnishing Status Semi-Furnished: "))
Furnishing_Status_Unfurnished_input=float(input("Furnishing Status_Unfurnished:"))
Tenant_Preferred_Bachelors_Family_input = float(input("Tenant Preferred Bachelors/Family: "))
Tenant_Preferred_Family_input=float(input("Tenant Preferred_Family:"))
Bathroom_input=float(input("Bathroom:"))
Floor_Number_input=float(input("Floor_Number':"))
Total_Floors_input=float(input("Total_Floors:"))

BHK: 2
Size: 1100
Area Type_Carpet Area: 0
Area Type_Super Area: 1
City: 4
Furnishing Status Semi-Furnished:  1
Furnishing Status_Unfurnished: 0
Tenant Preferred Bachelors/Family:  0
Tenant Preferred_Family: 1
Bathroom: 2
Floor_Number': 1
Total_Floors: 2

In [23]:
loaded_model=pickle.load(open("finalized_model_RandomForest.sav",'rb'))

In [25]:
Preinput = sc.fit_transform([[BHK_input, Size_input, Area_Type_Carpet_Area_input, Area_Type_Super_Area_input, City_input, Furnishing_Status_Semi_Furnished_input, Furnishing_Status_Unfurnished_input, Tenant_Preferred_Bachelors_Family_input, Tenant_Preferred_Family_input, Bathroom_input, Floor_Number_input, Total_Floors_input]])

In [26]:
Future_Prediction=grid.predict(Preinput)

print("Future_Prediction={}".format(Future_Prediction))

Future_Prediction=[23440.]